
<h1>Ingrese producto</h1><br>

<form action="/productos" method="post">
    Nombre:<br>
    <br><input type="text" name="title"><br>
    <br>Precio:<br>
    <br><input type="number" name="price"><br>
    <br>URL de foto:<br>
    <br><input type="text" name="thumbnail"><br>
    <br><button type="submit">Enviar</button><br>
</form>

<br><a href="/productos"><input type="button" value="Ver"></a>
<hr>
